.main__home__container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 50px 0px;
}

.home__div1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
}

.section__button {
    display: flex;
    justify-content: center;
    width: 100%;
}

.button__more__infos {
    width: 200px;
}

.home__div1__section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.section__title {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.solution__text {
    width: 100%;
    border: 1px solid black;
    height: 100px;
}

.solution__image {
    width: 100%;
    height: 300px;
}

.home__div1__section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divs__section {
    width: 100%;
    height: 100px;
    border: 1px solid black;
}

.home__div2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;
    text-align: start;
}

.home__section__pros {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.divs__section__pros {
    width: 100%;
    height: 100px;
    border: 1px solid black;
}

@media (min-width: 1000px) {
    .home__div1 {
        flex-direction: row;
    }
    .section__title {
        flex-direction: row;
    }
    .home__section__pros {
        flex-direction: row;
    }
    .home__div1__section1 {
        width: 60%;
    }
    .home__div1__section2 {
        width: 40%;
    }
    .divs__section {
        height: 100%;
    }
    .section__button {
        justify-content: end;
    }
}