$font-stack: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

.main__container__login {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
  background-color: rgb(255, 255, 255);
}

.login__form {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border: 2px solid black;
  border-radius: 15px;
  background-color: white;
  z-index: 1;
}

.login__title {
  font-size: 40px;
  font-family: $font-stack;
}

.div__bttns__login {
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.login__btn__login__page,
.register__link__login__page,
.register__btn__login__page {
  width: 40%;
  height: 50px;
  font-size: 18px;
  border-radius: 15px;
  font-family: $font-stack;
}

.login__btn__login__page,
.register__link__login__page {
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register__link__login__page {
  text-decoration: none;
}

.register__btn__login__page {
  background-color: white;
  border-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}